<h1><%= @team.name %></h1>

<table id="roster" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr id="player_id_<%= player.id %>">
        <td class="player-name">
          <span class="name-text"><%= player.name %></span>
          <input class="name-input" type="text" data-player-id="<%= player.id %>">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<button class="btn btn-default">Save!</button>